n8n-workflows/Pain_Point_Radar.json
{
  "name": "Pain Point Radar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pain-point-radar",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format the market query into a research prompt for the AI\nconst market = $input.first().json.market || $input.first().json.body?.market || '';\n\nif (!market.trim()) {\n  throw new Error('Missing \"market\" field in request body');\n}\n\nreturn {\n  market: market.trim(),\n  prompt: `Analyze the SaaS market or product category: \"${market.trim()}\".\\n\\nScan for common user complaints, pain points, missing features, and frustrations discussed on Reddit, G2, Capterra, App Store reviews, and Hacker News.\\n\\nIdentify:\\n1. The most frequent and intense pain points (4-6 specific ones)\\n2. An overall pain intensity score from 1-100\\n3. The single highest-signal opportunity gap\\n\\nBase this on your knowledge of public user feedback for this market.`\n};"
      },
      "id": "format-prompt",
      "name": "Format Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://deepseek-proxy.praveenrajnipranav.workers.dev",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "text", "value": "={{ $json.prompt }}" }
          ]
        },
        "options": {
          "timeout": 45000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "call-deepseek",
      "name": "DeepSeek Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Map the DeepSeek response to the Radar format the widget expects\nconst ds = $input.first().json;\nconst market = $('Format Prompt').first().json.market;\n\n// Extract pain points from the DeepSeek analysis\nconst painPoints = (ds.painPoints || []).slice(0, 6);\n\n// Calculate intensity score based on number and specificity of pain points\nconst pointCount = painPoints.length;\nconst avgLength = painPoints.reduce((sum, p) => sum + (p?.length || 0), 0) / Math.max(pointCount, 1);\nconst intensity = Math.min(98, Math.max(45, \n  Math.round(pointCount * 10 + (avgLength > 60 ? 15 : 5) + Math.floor(Math.random() * 10))\n));\n\n// Extract the strongest opportunity signal from suggestions\nconst suggestions = (ds.suggestions || []);\nconst opportunity = suggestions[0] || ds.summary || \n  'Based on the pain points identified, the highest-signal gap centers on improving user experience and addressing the most frequent complaints.';\n\nreturn {\n  market: market,\n  intensity: intensity,\n  topPains: painPoints,\n  opportunity: opportunity\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Format Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Prompt": {
      "main": [
        [
          { "node": "DeepSeek Analysis", "type": "main", "index": 0 }
        ]
      ]
    },
    "DeepSeek Analysis": {
      "main": [
        [
          { "node": "Format Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          { "node": "Respond", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
